/* TEXT STYLES */

/* centered text on photo */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.bottom {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right-title {
    position: absolute;
    top: 5%;
    right: 5%;
    /* transform: translate(-50%, -50%); */
    float: right;
    text-align:left;
}

.thick-font 
{
    font-family: "Source Code Pro", monospace;
    font-weight: 800
}

/* large font size */
.bigger
{
    font-size: x-large;
}

/* largest font size */
.biggest
{
    font-size: xxx-large;
}
.fun-header
{
    font-size: xx-large;
    font-family: "MV Boli","Zapf Chancery", "Rockwell", "Impact";
    color: #7BB3FF;
    font-weight: bold;
}

.left
{
    text-align: left;
    margin-left: 20px;
}


.demi
{
    font-weight: 550;
}

.italic
{
    font-style: italic;
}

/* headers */
.subhead
{
    font-size: xx-large;
    font-family: "Source Code Pro", "Raleway", serif;
    font-weight: 300;
    margin-bottom: 0.5em;
    margin-left: 2%
}

.grand-title
{
    font-size: 3em;
    font-family: "Source Code Pro", monospace;
    font-weight:700;
    white-space: pre-wrap;
}

/*columns*/
.column {
    float: left;
    width: 50%;
    padding: 0px;
}

.column35 {
    float: left;
    width: 35%;
    padding: 0px;
}

.column25 {
    float: left;
    width: 28%;
    padding: 0px;
}

.column40{
    float: left;
    width: 37%;
    padding: 0px;
}

/* TILES */

.container {
    position: relative;
    text-align: center;
    margin-bottom: 5%;
}
    .container:hover .overlay {
        opacity: 0;
    }
.overlay {
    float: left;
    padding: 10px;
    position: absolute;
    /* top: 0;
    bottom: 0;
    left: 20px;
    right: -10px;
    height: 100%; */
    width: 100%;
    opacity: 0.5;
    transition: 0.3s ease;
    background-color: #008CBA;
  }
  

 /* expansion */
.thumbnail { 
    /* top:-50px; 
    left:-35px; 
    display:block; 
    z-index:999;  */
    cursor: pointer; 
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 

    /* -moz-transition: background-color 0.5s ease, opacity 0.5s ease;
    -webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
    -ms-transition: background-color 0.5s ease, opacity 0.5s ease;
    transition: background-color 0.5s ease, opacity 0.5s ease; */
    content: '';
    display: block;
    opacity: 1.0;
    z-index: 1;
    opacity: 0.5;
    color: #ffffff !important;
    } 

    /* A5DEF2, 5BAEB7 1E80C1 414C6B*/
    .blizzard-filter
    {
        filter: invert(84%) sepia(19%) saturate(574%) hue-rotate(160deg) brightness(98%) contrast(93%);
    }

    .fountain-filter
    {
        filter: invert(63%) sepia(35%) saturate(511%) hue-rotate(138deg) brightness(93%) contrast(85%);
    }
    .blue-filter
    {
        /* filter: invert(66%) sepia(38%) saturate(5334%) hue-rotate(168deg) brightness(100%) contrast(90%); */
        filter: invert(36%) sepia(88%) saturate(866%) hue-rotate(173deg) brightness(94%) contrast(85%);
    }

    .dark-filter
    {
        filter: invert(25%) sepia(8%) saturate(2862%) hue-rotate(187deg) brightness(94%) contrast(77%);
    }
    
    /*change the number below to scale to the appropriate size*/ 
    .thumbnail:hover { 
    transform: scale(1.1); 
    border-bottom-color: transparent;
    color: #ffffff !important;
    opacity: 1;
    filter: none !important;
    }

/* Tiles */

.tiles {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    margin: -2.5em 0 0 -2.5em;
}

    .tiles article {
        -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
        transition: transform 0.5s ease, opacity 0.5s ease;
        position: relative;
        width: calc(33.33333% - 2.5em);
        margin: 2.5em 0 0 2.5em;
    }

        .tiles article > .image {
            -moz-transition: -moz-transform 0.5s ease;
            -webkit-transition: -webkit-transform 0.5s ease;
            -ms-transition: -ms-transform 0.5s ease;
            transition: transform 0.5s ease;
            position: relative;
            display: block;
            width: 100%;
            border-radius: 4px;
            overflow: hidden;
        }

            .tiles article > .image img {
                display: block;
                width: 100%;
            }

            .tiles article > .image:before {
                pointer-events: none;
                -moz-transition: background-color 0.5s ease, opacity 0.5s ease;
                -webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
                -ms-transition: background-color 0.5s ease, opacity 0.5s ease;
                transition: background-color 0.5s ease, opacity 0.5s ease;
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 1.0;
                z-index: 1;
                opacity: 0.65;
            }

            .tiles article > .image:after {
                pointer-events: none;
                -moz-transition: opacity 0.5s ease;
                -webkit-transition: opacity 0.5s ease;
                -ms-transition: opacity 0.5s ease;
                transition: opacity 0.5s ease;
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url('/Users/egshiglen/Documents/GitHub/PHYSCI-70/images/frame.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                opacity: 0.25;
                z-index: 2;
            }

        .tiles article > a {
            display: -moz-flex;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            -moz-flex-direction: column;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -moz-align-items: center;
            -webkit-align-items: center;
            -ms-align-items: center;
            align-items: center;
            -moz-justify-content: center;
            -webkit-justify-content: center;
            -ms-justify-content: center;
            justify-content: center;
            -moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
            -webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
            -ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
            transition: background-color 0.5s ease, transform 0.5s ease;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 1em;
            border-radius: 4px;
            border-bottom: 0;
            color: #ffffff;
            text-align: center;
            text-decoration: none;
            z-index: 3;
        }

            .tiles article > a > :last-child {
                margin: 0;
            }

            .tiles article > a:hover {
                color: #ffffff !important;
            }

            .tiles article > a h2 {
                margin: 0;
            }

            .tiles article > a .content {
                -moz-transition: max-height 0.5s ease, opacity 0.5s ease;
                -webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
                -ms-transition: max-height 0.5s ease, opacity 0.5s ease;
                transition: max-height 0.5s ease, opacity 0.5s ease;
                width: 100%;
                max-height: 0;
                line-height: 1.5;
                margin-top: 0.35em;
                opacity: 0;
            }

                .tiles article > a .content > :last-child {
                    margin-bottom: 0;
                }

        .tiles article.style1 > .image:before {
            background-color: #ff9db4;
        }

/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
    font-family: "Bahnschrift SemiBold", "Verdana","Raleway", "Georgia", serif;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #7BB3FF;
    /* #537fbe; */

}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

.name
{
    font-size: 3em;
    font-family: "Franklin Gothic Medium", serif;
    background-color: #013e74;
    color: #FFFFFF;
    text-align: center;
}

.subheader
{
    font-weight: 550;
    color: #7BB3FF;
}



/* Header; from Egshiglen Chuluunhuu*/

#header .logo {
    display: block;
    border-bottom: 0;
    color: inherit;
    font-weight: 900;
    letter-spacing: 0.35em;
    margin: 0 0 2.5em 0;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}

    #header .logo > * {
        display: inline-block;
        vertical-align: middle;
    }

    #header .logo .symbol {
        margin-right: 0.65em;
    }

        #header .logo .symbol img {
            display: block;
            width: 2em;
            height: 2em;
        }

#header nav {
    position: fixed;
    right: 0em;
    top: 2em;
    z-index: 10000;
}

    #header nav ul {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-align-items: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

        #header nav ul li {
            display: block;
            padding: 0;
        }

            #header nav ul li a {
                display: block;
                position: relative;
                height: 3em;
                line-height: 3em;
                padding: 0 1.5em;
                background-color: #32adff82;
                border: 0;
                font-size: 0.8em;
                font-weight: 900;
                letter-spacing: 0.35em;
                text-transform: uppercase;
            }

            #header nav ul li a[href="#menu"] {
                -webkit-tap-highlight-color: transparent;
                width: 4em;
                text-indent: 4em;
                font-size: 1em;
                overflow: hidden;
                padding: 0;
                white-space: nowrap;
            }

                #header nav ul li a[href="#menu"]:before, #header nav ul li a[href="#menu"]:after {
                    -moz-transition: opacity 0.2s ease;
                    -webkit-transition: opacity 0.2s ease;
                    -ms-transition: opacity 0.2s ease;
                    transition: opacity 0.2s ease;
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 2em 2em;
                }

                #header nav ul li a[href="#menu"]:before {
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 8px%3B stroke: %23f2849e%3B %7D%3C/style%3E%3Cline x1='0' y1='25' x2='100' y2='25' /%3E%3Cline x1='0' y1='50' x2='100' y2='50' /%3E%3Cline x1='0' y1='75' x2='100' y2='75' /%3E%3C/svg%3E");
                    opacity: 0;
                }

                #header nav ul li a[href="#menu"]:after {
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 8px%3B stroke: %23585858%3B %7D%3C/style%3E%3Cline x1='0' y1='25' x2='100' y2='25' /%3E%3Cline x1='0' y1='50' x2='100' y2='50' /%3E%3Cline x1='0' y1='75' x2='100' y2='75' /%3E%3C/svg%3E");
                    opacity: 1;
                }

                #header nav ul li a[href="#menu"]:hover:before {
                    opacity: 1;
                }

                #header nav ul li a[href="#menu"]:hover:after {
                    opacity: 0;
                }

@media screen and (max-width: 736px) {

    #header {
        padding: 4em 0 0.1em 0 ;
    }

        #header nav {
            right: 0.5em;
            top: 0.5em;
        }

            #header nav ul li a[href="#menu"]:before, #header nav ul li a[href="#menu"]:after {
                background-size: 1.5em 1.5em;
            }

}